<!doctype html>
<!--
<form action="/new" method="POST" enctype="multipart/form-data">
<input type="text" name="title"></input>
<input type="text" name="description"></input>
<input type="file" name="img"></input>

<input type="submit"></input>
</form>
-->

<h1>Categories</h1>
	<form action="/filter_cat" method="POST">
	<input name="cat" type="submit" value= "all"></input>
	</form>
{% for item in items[0] %}

	<form action="/filter_cat" method="POST">
	<input name="cat" type="submit" value= "{{ item.category }}"></input>
	</form>
<!--	-->
{% endfor %}


{% for item in items[1] %}

	<h1>{{ item.name }}</h1>
	<p>{{ item.file }}</p>
	<p>{{ item.uuid }}</p>
	<p>{{ item.category }}</p>
	<img src="{{ url_for('static', filename=item.video.thumb) }}"></img>
<!--	-->
{% endfor %}
